version: '3.7'

services:
  # Serviço da aplicação web
  app:
    build:
      context: .
      args:
        - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
        - VITE_SUPABASE_ANON_KEY=${VITE_SUPABASE_ANON_KEY}
    image: hvidigaljr/salaobeleza:v1.0.2
    # Usando a imagem do Docker Hub
    
    networks:
      - portainer ## Nome da rede interna

    environment:
      - NODE_ENV=production
      - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
      - VITE_SUPABASE_ANON_KEY=${VITE_SUPABASE_ANON_KEY}

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        # Configuração básica
        - traefik.http.routers.salaobeleza.rule=Host(`salaodebeleza.zobot.top`)
        - traefik.http.routers.salaobeleza.entrypoints=websecure
        - traefik.http.routers.salaobeleza.tls.certresolver=letsencryptresolver
        - traefik.http.services.salaobeleza.loadbalancer.server.port=80
        # Configuração adicional para garantir que o Traefik reconheça o serviço
        - traefik.docker.network=portainer
        - traefik.http.middlewares.salaobeleza-redirect.redirectscheme.scheme=https
        - traefik.http.middlewares.salaobeleza-redirect.redirectscheme.permanent=true
        # Rota HTTP para redirecionamento para HTTPS
        - traefik.http.routers.salaobeleza-http.rule=Host(`salaodebeleza.zobot.top`)
        - traefik.http.routers.salaobeleza-http.entrypoints=web
        - traefik.http.routers.salaobeleza-http.middlewares=salaobeleza-redirect

networks:
  portainer: ## Nome da rede interna
    external: true
    name: portainer ## Nome da rede interna
