version: '3.7'

services:
  # Serviço da aplicação web
  app:
    image: ghcr.io/juniorbra/salaobeleza:v1.0.1
    container_name: salaobeleza-app
    
    networks:
      - portainer ## Nome da rede interna

    environment:
      - NODE_ENV=production
      - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
      - VITE_SUPABASE_ANON_KEY=${VITE_SUPABASE_ANON_KEY}

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.salaobeleza.rule=Host(`salaodebeleza.zobot.top`)
        - traefik.http.routers.salaobeleza.entrypoints=websecure
        - traefik.http.routers.salaobeleza.tls.certresolver=letsencryptresolver
        - traefik.http.services.salaobeleza.loadbalancer.server.port=80
        - traefik.http.services.salaobeleza.loadbalancer.passHostHeader=true
        - traefik.http.routers.salaobeleza.service=salaobeleza

networks:
  portainer: ## Nome da rede interna
    external: true
    name: portainer ## Nome da rede interna
